-e git+git@github.com:mahmoud/awesome-python-applications.git@5178156e186dc1a55c9f6c1dae8e55e1b2b612cf#egg=apatite&subdirectory=apatite
attrs==18.2.0
boltons==19.1.0
face==19.1.2
glom==19.1.0
hyperlink==18.0.0
idna==2.8
ruamel.yaml==0.15.80
schema==0.6.8
