attrs==19.1.0
boltons==19.1.0
contextlib2==0.5.5
-e git+git@github.com:mahmoud/face.git@a7809f99affbfe8aeb6f7bc1208aed6a52495e37#egg=face
glom==19.2.0
hyperlink==19.0.0
idna==2.8
ruamel.yaml==0.16.1
ruamel.yaml.clib==0.1.2
schema==0.7.0
tqdm==4.33.0
